# fly.toml app configuration file generated for ultimate-carding-toolkit-otp on 2026-01-02T02:45:40Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ultimate-carding-toolkit-otp'
primary_region = 'sjc'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
